*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quti{
    
    background-color: rgb(198, 171, 137);
    padding: 20px;
    border-radius: 20px;
    
}

.qutilar{
    padding: 20px;
    
    flex-wrap: wrap;
    justify-content: baseline;
    border: 10px;
    display: flex;
    gap: 30px;
}   
    




   